<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<h1>My Products Page</h1>
<table class="table table-responsive table-bordered table-hover" width="500px">
    <thead>
    <th>Name</th>
    <th class="active">Price</th>
    <th>Description</th>
    <th>Category</th>
    <th>Picture</th>
    <th>CreatedAt</th>
    <th>Edit - Delete Product</th>
    </thead>
    <tbody>

    <tr class="form-group">
        {{ form_start(form) }}
        <td>{{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}</td>
        <td>{{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}</td>
        <td>{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</td>
        <td>{{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}</td>
        <td>{{ form_widget(form.file, { 'attr': {'class': ''} }) }}
            <span style="color: red">* 2Mb maximum</span></td>

        <td colspan="2">{{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'} }) }}</td>
        {{ form_end(form) }}
    </tr>

    {% for item in products %}
        <tr>
            <td>{{ item.name }}</td>
            <td  class="active">{{ item.price }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.category }}</td>
            <td><img src="{{ asset(item.getWebPack()) }}" width="100px" height="50px" alt=""></td>

            <td>{{ item.createdAt|date('Y-m-d')}} | {{  item.createdAt|date('H:i:s') }}</td>
            <td><a href="edit/{{item.id}}" class="btn btn-info">Edit</a>
            <a href="delete/{{item.id}}" class="btn btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>


</body>
</html>